@model L4_DAVH_AFPE.Models.TaskModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Please enter the folowwing information: </h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Title:</label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Description:</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Project:</label>
                <input asp-for="project" class="form-control" />
                <span asp-validation-for="project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Priority Level:</label>
                <input asp-for="priority" class="form-control" />
                <span asp-validation-for="priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Project Delivery Date:</label>
                <input asp-for="date" type="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            @if (TempData["testmsg"] != null)
            {
                <script type="text/javascript">
       alert("@TempData["testmsg"]");
                </script>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
