
@{
    ViewData["Title"] = "Help";
}

<h1>Welcome to project knowledge base!</h1>

<p>This part of the app is designed to explain you how this works.</p>

<p>For login, is required  to enter a username to identify and assign the tasks.</p>

<p>Selecting your login type is important because the app is divided by two sections, the Developer and Project Manager Behavior.</p>

<p>You will see an input word space and a blue button "Find", it will let you search only by title the tasks in both behaviors.</p>
<div class="input-group mb-3">
    <input type="search" class="form-control col-4" name="search" placeholder="Search Title">
</div>
<p>If there is no match, the index will not show any results.</p>

<button class="btn btn-primary mb-3">Find</button>
<p>About saving, the app save changes when you create, edit, delete or change view automatically so forget to click the diskette.</p>

<h2>For Developer behavior</h2>
<p>You will be able to create tasks with the parameters of :</p>

<ul>
    <li>Title</li>
    <li>Task Description</li>
    <li>Project</li>
    <li>Priority level of the task</li>
    <li>Project Delivery Date</li>
</ul>

<p>Also, in the index of the tasks are options that let you edit or delete them.</p>

<p>You will see a blue button "Get current task", it will let you get the task with the most important priority  to help you finishing the tasks in order and avoid failing with the delivery dates.</p>
<a class="btn btn-primary">Get current Task</a>

<p>An option to change user or login type is placed aside your Username, if you press it the app will redirect you to the login page and will let you change behavior or enter like another Developer.</p>

<p>Developer behavior won't let you enter tasks with a same name, so try to identify them always with a different name or app will show you a message saying that the name for the task is already in use.</p>

<h2>For Project Manager behavior</h2>

<p>This behavior let view all the current tasks that developers have in curse.</p>
<p>For login is required to select the Project Manager option and enter with a name.</p>
<p>Main view of this behavior will show the information of the tasks and the responsable of all the current tasks.</p>

