@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please select your user type.</a>.</p>
    <a asp-action="Developer" class="btn-primary btn btn-lg">Developer</a>
    <a asp-action="ProjectManager" class="btn-primary btn btn-lg">Project Manager</a>
</div>
