@model L4_DAVH_AFPE.Models.Data.LoginModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-left">
    <div class="col-md-12">
        <form asp-action="Index" class="text-left">
            <div class="form-group text-left">
                <p>Please write your username</p>
                <input asp-for="user" class="form-control col-2 text-center" />
                <span asp-validation-for="user" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" checked type="radio" name="flexRadioDefault" asp-for="admin" value="false">
                <label class="form-check-label" for="flexRadioDefault1">
                    Developer
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" asp-for="admin" value="true">
                <label class="form-check-label" for="flexRadioDefault1">
                    Project Manager
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



